/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    background-color: #6943FF;
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

h1 {
    margin: 33px auto 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 28px;
    font-style: normal;
    
}

#input-el{
    margin: 25px auto 20px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 58px;
    font-style: normal;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #6943FF;
    color: white;
    text-align: center;
}

/*

#input-el:active{
    margin: 25px auto 20px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 58px;
    font-style: normal;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #6943FF;
    color: white;
    text-align: center;
}
*/

#input-el{
    margin: 25px auto 20px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 58px;
    font-style: normal;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #6943FF;
    color: white;
    text-align: center;
}

button{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #3D3D3D;
    border: 0px;
    border-radius: 5px;
    width: 117px;
    height: 42px;
    margin: 25px auto;
}

button:active {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #3D3D3D;
    border: 0px;
    border-radius: 5px;
}

#input-container{
    min-width: 550px;
    min-height: 250px;
    color: white;
    text-align: center;
}

#results-container{
    background-color: #F4F4F4;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #5A537B;
    padding: 31px 77px 10px;
}

p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #353535;
    padding: 0 77px 18.5px;
}

.result-card{
   
    height: 110px;
    background-color: #FFFFFF;
    margin: 25px;
    width: 500px;
    
}